# Dependencies
node_modules/

# IDE
.idea/
*.iml
.vscode/

# Environment
.env
.env.*
extensions/*.env

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firebase-debug.*.log
ui-debug.log
